# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Next.js
.next
out

# Production
build
dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log

# IDE
.idea
.vscode

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# PM2
ecosystem.config.js
pm2-scripts.json
PM2-SETUP.md

# Documentation
README.md
erd.md
