services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ajeg-katalog
    ports:
      - "4321:4321"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - ajeg-network

networks:
  ajeg-network:
    driver: bridge
